body {
  font-family: sans-serif;
  margin: auto;
}

.main{
  position: relative;
  max-width: 800px;
  left: 50%;
  transform: translateX(-50%);
}

.heading{
  display: flex;
  align-items: center;
  padding: 0 1em;
  background-color: #666;
  color: white;
}

.heading h2{
  flex: 100;
}

.body{
  padding: 1em;
}

.footer{
  padding: 1em;
}


h1 {
  margin: 0.25em 0;
  font-size: 1.5em;
}

h2 {
  margin: 0.25em 0;
  font-size: 1.25em;
}

h3 {
  margin: 0.25em 0;
  font-size: 1.15em;
}

h4 {
  margin: 0.25em 0;
  font-size: 1.1em;
}

h5 {
  margin: 0.25em 0;
  font-size: 1.05em;
}


button {
  border: none;
  padding: 1em;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.10);
}

